@font-face {
    font-family: RobotoFuenteCustom;
    src: url(./fuentes/Roboto/Roboto-Bold.ttf);
    font-family: RalewayFuenteCustom;
    src: url(./fuentes/Raleway/Raleway-Bold.ttf)
}

body {
    background-color: cornflowerblue;
}


/* COLORES
1. COLORES DEL SISTEMA
2. COLORES HEXADECIMAL #
3. COLORES RGB
4. COLORES RBBA (canal alfa transparencia)
5.COLORES HSL
*/

h1 {
    font-style: italic;
    font-weight: bold;
    font-family: RalewayFuenteCustom;
    text-transform: uppercase;
    font-size: 55px;
    color: olive;
}

h3 {
    font-size: 10em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
    font-size: 5em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}