  /*estilos generales*/
  
  * {
      text-decoration: none;
      margin: 0em;
      padding: 0em;
      font-family: sans-serif;
  }
  
  #container {
      width: 90%;
      height: auto;
      margin: 0px auto;
      border: 5px solid rgba(225, 225, 226, 0.8);
      box-shadow: 3px 3px 20px #ccc;
      margin-top: 40px;
      margin-bottom: 40px;
      min-height: 900px;
  }
  /*estilos logo*/
  
  #header {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      height: 120px;
      border-bottom: 5px solid rgba(225, 225, 226, 0.8);
  }
  
  .logo {
      flex-grow: 1;
      flex-basis: 60%;
      padding: 10px;
      margin-left: 20px;
      color: black;
      text-shadow: 7px 7px 0px #ccc;
      text-transform: uppercase;
  }
  
  .logo h1 {
      font-family: Helvetica, sans-serif;
      font-weight: 900;
      font-size: 35px;
      font-style: italic;
  }
  /*menu*/
  
  #menu {
      flex-grow: 1;
      flex-basis: 35%;
      height: 100%;
      padding-right: 10px;
  }
  
  #menu>ul {
      height: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      list-style: none;
  }
  
  #menu a {
      color: blue;
      text-transform: uppercase;
      padding: 10px;
      transition: all 300ms;
      font-weight: bold;
  }
  
  #menu a:hover {
      background-color: gray;
      color: white;
  }
  /*contenido*/
  
  #content {
      display: flex;
      justify-content: space-between;
      padding-top: 20px;
      padding-bottom: 20px;
  }
  /*proyectos*/
  
  #projects {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      flex-basis: 80%;
      margin-left: 10px;
      margin-right: 20px;
  }
  
  .project {
      margin-bottom: 25px;
      border: 9px solid#ccc;
      flex-basis: 250px;
      flex-grow: 1;
      margin-right: 20px;
  }
  
  .project img {
      width: 100%;
  }
  
  .project-info {
      padding: 10px;
  }
  
  .project-info a {
      color: black;
      font-size: 15px;
      transition: all 300px;
  }
  
  .project-info a:hover {
      color: green;
      font-size: 20px;
      font-weight: bold;
  }
  
  .project-info p {
      color: grey;
      font-weight: bolder;
      text-transform: capitalize;
      font-size: 15px;
  }
  /*aside*/
  
  #aside {
      /*order:2  con esto se invierten las posiciones*/
      flex-basis: 15%;
      margin-right: 30px;
      padding: 15px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
  }
  
  #aside h2 {
      display: block;
      font-size: 18px;
      width: 100%;
      font-weight: 250;
      color: #444444;
      padding-bottom: 10px;
      margin-bottom: 20px;
      border-bottom: 9px solid#ccc;
      text-align: center;
  }
  
  #aside ul {
      list-style: none;
  }
  
  #aside ul li {
      padding-bottom: 20px;
  }
  
  #aside ul li a {
      padding: 20px;
      color: #444444;
      transition: all 300ms;
      text-transform: uppercase;
      background-color: #eeeeee;
      text-align: center;
      display: block;
  }
  
  #aside ul li a:hover {
      background-color: #444444;
      color: #eeeeee;
      transform: scale(1.12);
  }
  /*footer*/
  
  #footer {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: center;
      height: 120px;
      border-top: 5px solid rgba(225, 225, 226, 0.8);
  }
  
  #footer .logo {
      opacity: 0.65;
      flex-basis: auto;
      flex-grow: 1;
      margin-right: 20px;
  }
  
  #footer .info {
      flex-grow: 1;
      color: #444444;
      margin-right: 20px;
      display: inline-block;
      text-align: end;
  }
  /*mediaquery*/
  
  @media(max-width:1110px) {
      #menu>ul {
          align-items: flex-start;
          justify-content: space-evenly;
      }
      #header {
          text-align: center;
          margin-top: 20px;
      }
  }
  
  @media(max-width:561px) {
      #footer .logo {
          text-align: center;
          flex-basis: 100%;
          flex-grow: 1;
          order: 1;
          margin: 0px;
      }
      #footer .info {
          text-align: center;
          margin: 0px;
          flex-basis: 100%;
          flex-grow: 1;
          order: 2;
      }
      #content {
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          flex-wrap: wrap;
          padding-top: 20px;
          padding-bottom: 20px;
      }
      #aside {
          margin: 0px;
      }
      #aside ul {
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
      }
      #aside ul li {
          flex-grow: 1;
          margin-left: 15px;
          margin-right: 15px;
      }
      #projects {
          margin-left: 10px;
          margin-right: 10px;
          flex-basis: 100%;
          justify-content: center;
      }
  }